* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
}

#world {
	margin: 20px auto;
	width: 100%;
	max-width: 1100px;
}