* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 7px;
    font-family: arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
}

#world {
	margin: 20px auto;
	width: 100%;
	max-width: 1100px;
}

.map:after {
    content: '';
    display: block;
    clear: both;
}

.showData {
    width: 400px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.map {
    
    margin: 10px auto;

    .tile {
        display: block;
        float: left;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        background-color: #eee;
    }
}

.color__tile {
    display: inline-block;
    width: 200px;
    height: 200px;
}

button {
    display: inline-block;
    padding: 3px 15px;
    border: #ddd solid 1px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}

button.active {
    background: #ddd;
    border-color: #888;
}

button:focus {
    outline: 0;
}

button.hide {
    display: none;
}

#debug {
    display: none;
}

#debug.show {
    display: block;    
    position: relative;

    .blockLabel {
        position: absolute;
        font-size: 10px;
        line-height: 16px;
        color: #777;

        .number {
            position: absolute;
            top: -5px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

        .point {
            position: absolute;
            margin: 8px auto;
            width: 10px;
            height: 10px;
            border: transparent solid 3px;
            background-color: #555;
            cursor: pointer;
            border-radius: 5px;           
        }

        span {
            display: none;
            position: absolute;
            top: -120px;
            background-color: #fff;
            width: 80px;
            padding: 4px 6px 4px 9px;
            z-index: 1000;

            span.debugLink {
                display: inline;
                position: relative;
                top: initial;
                background-color: transparent;
                width: auto;
                padding: 0;
            }

            span.debugLink:before {
                display: none;
                position: relative;
            }
        }

        span:before {
            content: '';
            position: absolute;
            left: 2px;
            bottom: -75px;
            height: 75px;
            width: 1px;
            border-left: #666 solid 2px;
            z-index: 100;
        }
    }

    .blockLabel.active {

        .point {
            border: #968ce9 solid 3px;
            box-sizing: content-box;
            top: -3px;
            left: -3px;
        }

        span {
            display: block;
        }
    }

    .blockLabel.group__marker {
        background-color: red;
    }
}
