* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    background: #fff;
}

#world {
	margin: 20px auto;
	width: 100%;
	max-width: 1100px;
}

.map:after {
    content: '';
    display: block;
    clear: both;
}

.showData {
    width: 400px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
}

.map {
    
    margin: 10px auto;

    .tile {
        display: block;
        float: left;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        background-color: #eee;
    }
}

.color__tile {
    display: inline-block;
    width: 200px;
    height: 200px;
}